<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Coderthemes">
    <link rel="shortcut icon" href="images/favicon.ico">

    <title>Reach Higher</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Animate -->
    <link href="css/animate.css" rel="stylesheet">

    <!-- Magnific-popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    
    <!-- Icon-font -->
    <link rel="stylesheet" type="text/css" href="css/ionicons.min.css">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

<body>

  <!-- Pre-loader -->
  <div class="preloader">
     <div class="status">&nbsp;</div>
  </div>

  <div class="navbar navbar-custom sticky navbar-abs" role="navigation">
    <div class="container">
      <!-- Navbar-header -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="ion-navicon"></i>
        </button>
        <!-- LOGO -->
        <a class="navbar-brand logo" href="/" style="position:relative; top:15px">
          <i class="ion-social-buffer"></i>
            <span>Reach Higher</span>
        </a>
      </div>
      <!-- end navbar-header -->

      <!-- menu -->
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#features">Features</a>
          </li>
          <li>
            <a href="#team">Meet Our Team</a>
          </li>
          <li>
            <a href="#app">App</a>
          </li>
          <li>
            <a href="#contact">Contact Us</a>
          </li>
        </ul>
      </div>
      <!--/Menu -->
    </div>
    <!-- end container -->
  </div>
  <!-- End navbar -->
  <div class="clearfix"></div>


  <!-- HOME -->
  <section class="home bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="home-wrapper">
            <h1 class="animated fadeInDown wow" data-wow-delay=".1s">Reach Higher</h1>
            <h4 class="animated fadeInDown wow" data-wow-delay=".2s">
              <p>We believe that you can truly love your career, and the path it takes in your life.</p>
              <p>Types of careers are exposed through what is known and familiar in our own lives.</p>
              <p>Reach Higher is able to give the student accessibility to career option through what they love do.</p>
            </h4>
            <a href="" class="btn btn-custom btn-rnd animated fadeInDown wow" data-wow-delay=".4s">Learn more</a>
            <div class="clearfix"></div>
            <a href="" class="video-btn btn popup-video animated fadeInDown wow" data-wow-delay=".6s"><i class="ion-play"></i>Watch Video</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END HOME -->

  <!-- FEATURES-1 -->
  <section class="section" id="features">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="feature-1">
            <img src="images/features-1.png" class="img-responsive" alt="features-img">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="feature-detail">
            <h1 class="title animated fadeInRight wow" data-wow-delay=".1s">Do what you love</h1>
            <!-- <h4 class="animated fadeInRight wow" data-wow-delay=".3s"></h4> -->
            <p class="features-txt animated fadeInRight wow" data-wow-delay=".5s">Let your interests drive your career. We'll show you a list of careers based on the interests and excite you the most.</p>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <!-- END FEATURES-1 -->


  <!-- FEATURES-2 -->
  <section class="section padding-t-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="feature-detail">
            <h1 class="title animated fadeInLeft wow" data-wow-delay=".1s">Connect with like-minded people</h1>
            <!-- <h4 class="animated fadeInLeft wow" data-wow-delay=".3s">Constituto voluptatibus mei ex. Eum soleat</h4> -->
            <p class="features-txt animated fadeInLeft wow" data-wow-delay=".5s">Find a community of people who will mentor and help nurture you in your new career.</p>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="feature-1">
            <img src="images/features-2.png" class="img-responsive" alt="features-img">
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- END FEATURES-2 -->


  <!-- PRICING -->
  <section class="section bg-gray" id="team">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center" style="margin:40px">
          <h1 class="title zoomIn animated wow" data-wow-delay=".1s">Meet Our Team</h1>
          <!-- <p class="sub-title zoomIn animated wow" data-wow-delay=".2s"></p> -->
        </div> 
      </div> <!-- end row -->

      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="pricing-item animated fadeInLeft wow" data-wow-delay=".3s">
                <div class="pricing-item-inner" style="height:500px">
                  <div class="pricing-wrap">     
                    <div class="pricing-title">
                      Sandra Stark
                    </div>          
                    <!-- Pricing Features -->
                    <div class="pricing-features">
                      <ul class="sf-list pr-list">
                        <li class="text-justify">
                          Sandra's first introduction to graphic design was with the video game Art Alive circa 1991. She received her BFA from MICA Maryland Institute, College of Art in Baltimore, MD. She has been a presentation designer, live graphics operator for the last 9 years, which has taken her around the world. Coinciding, she has a small web design company called, for good design, specializing in creating a web presence for artists and community members. She is a member of Girl Develop It, and is a core team member of Code for San Francisco. She currently splits her time in between San Francisco and Sonoma County - where she has a small farm. You can view some of her projects at <a href="http://www.sandrastark.net" target="_blank">www.sandrastark.net</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6" >
              <div class="pricing-item animated fadeInLeft wow" data-wow-delay=".3s">
                <div class="pricing-item-inner" style="height:500px">
                  <div class="pricing-wrap">     
                    <div class="pricing-title">
                      Omar
                    </div>          
                    <!-- Pricing Features -->
                    <div class="pricing-features">
                      <ul class="sf-list pr-list">
                        <li class="text-justify">
                          BIO
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6" >
              <div class="pricing-item animated fadeInLeft wow" data-wow-delay=".3s">
                <div class="pricing-item-inner" style="height:500px">
                  <div class="pricing-wrap">     
                    <div class="pricing-title">
                      Julio
                    </div>          
                    <!-- Pricing Features -->
                    <div class="pricing-features">
                      <ul class="sf-list pr-list">
                        <li class="text-justify">
                          BIO
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6" >
              <div class="pricing-item animated fadeInLeft wow" data-wow-delay=".3s">
                <div class="pricing-item-inner" style="height:500px">
                  <div class="pricing-wrap">     
                    <div class="pricing-title">
                      Ky Meyer-Choi
                    </div>          
                    <!-- Pricing Features -->
                    <div class="pricing-features">
                      <ul class="sf-list pr-list">
                        <li class="text-justify">
                          BIO
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- END PRICING -->


  <!-- FOOTER CTA -->
  <section class="section bg-dark footer-cta" id="app">
    <div class="container">
      <div class="row text-center">
         <div class="col-sm-10 col-sm-offset-1">
          <h4 class="text-uppercase animated fadeInDown wow" data-wow-delay=".1s">We are Here to Help You</h4>
          <a href="" class="btn btn-custom btn-rnd animated fadeInDown wow" data-wow-delay=".4s">Learn more</a>
          <div class="clearfix"></div>
          <a href="" class="video-btn btn popup-video animated fadeInDown wow" data-wow-delay=".6s"><i class="ion-play"></i>Watch Video</a>
         </div>
      </div>
    </div>
  </section>

  <!-- END FOOTER CTA -->


  <!-- FOOTER -->
  <footer class="section bg-gray footer" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <h5>Reach Higher</h5>
          <ul class="list-unstyled">
            <li><a href="">Home</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">FAQ</a></li>
          </ul>
        </div>

        <div class="col-md-3 col-sm-6">
          <h5>Social</h5>
          <ul class="list-unstyled">
            <li><a href="">Facebook</a></li>
            <li><a href="">Twitter</a></li>
            <li><a href="">Behance</a></li>
            <li><a href="">Dribbble</a></li>
          </ul>
        </div>

        <div class="col-md-3 col-sm-6">
          <h5>Support</h5>
          <ul class="list-unstyled">
            <li><a href="">Help & Support</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms & Conditions</a></li>
          </ul>
        </div>

        <div class="col-md-3 col-sm-6">
          <h5>Contact</h5>
          <address>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890<br/>
            E: <a href="mailto:email@email.com">email@email.com</a>
          </address>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="footer-alt">
            <p class="pull-right">2015 © Reach Higher</p>
            <p class="logo"><i class="ion-social-buffer"></i>Reach Higher</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- END FOOTER -->




    <!-- js placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Jquery easing -->                                                      
    <script type="text/javascript" src="js/jquery.easing.1.3.min.js"></script>
    <script src="js/SmoothScroll.js"></script>
    <script src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <!--sticky header-->
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
        
    <!--common script for all pages-->
    <script src="js/jquery.app.js"></script>

    
  </body>
</html>
