<style>
label, input {
  margin: 5px;
}

.pr-button {
  border-radius: 4px;
}
</style>
<section class="section bg-gray" id="pricing">
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="title zoomIn animated wow" data-wow-delay=".1s">Authentication</h1>
      <p class="sub-title zoomIn animated wow" data-wow-delay=".2s">Constituto voluptatibus mei ex. Eum soleat lorem Ipsum is simply dummy<br/> text of the printing and typesetting industry. </p>
    </div> 
  </div>

  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row">
        <div class="col-sm-6" ng-hidden="creatingAccount">
          <div class="pricing-item animated fadeInLeft wow" data-wow-delay=".3s">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">     
                <div class="pricing-icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="pricing-title">
                  Create an Account
                </div>          
                <div class="pricing-features row">
                  <label class="col-xs-4 text-right">Email</label>
                  <input class="col-xs-6" ng-model="createEmail"/>
                  <div class="clearfix"></div>
                  <label class="col-xs-4 text-right">Password</label>
                  <input class="col-xs-6" ng-model="createPassword" type="password"/>
                  <div class="clearfix"></div>
                  <div class="pr-button">
                    <a ng-click="createAccount(createEmail, createPassword)"class="btn btn-custom btn-rnd">Join</a> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="pricing-item main animated fadeInLeft wow" data-wow-delay=".5s">
            <div class="pricing-item-inner">
              <div class="pricing-wrap">     
                <div class="pricing-icon">
                  <i class="fa fa-sign-in"></i>
                </div>
                <div class="pricing-title">
                  Log In
                </div>          
                <div class="pricing-features row">
                  <label class="col-xs-4 text-right">Email</label>
                  <input class="col-xs-6" ng-model="loginEmail"/>
                  <div class="clearfix"></div>
                  <label class="col-xs-4 text-right">Password</label>
                  <input class="col-xs-6" ng-model="loginPassword" type="password"/>
                  <div class="clearfix"></div>
                </div>
                <div class="pr-button">
                  <a ng-click="login(loginEmail, loginPassword)"class="btn btn-custom btn-rnd">Log In</a>
                </div>
                <a href="#/users/account/reset-password"> Reset password</a>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>
</section>

