<style>
label, input {
  margin: 5px;
}

.pr-button {
  border-radius: 4px;
}
</style>
<section class="section bg-gray" id="pricing">
<div class="container">
  <div class="row" hidden>
    <div class="col-sm-12 text-center">
      <h1 class="title zoomIn animated wow" data-wow-delay=".1s">Password Reset</h1>
      <p class="sub-title zoomIn animated wow" data-wow-delay=".2s">
        Enter your email address to reset your password.
      </p>
    </div> 
  </div>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <div class="pricing-item animated fadeInLeft wow" data-wow-delay=".3s">
        <div class="pricing-item-inner">
          <div class="pricing-wrap">     
            <div class="pricing-icon">
              <i class="fa fa-user"></i>
            </div>
            <div class="pricing-title">
              <h1>Password Reset</h1>
              <p class="sub-title zoomIn animated wow" data-wow-delay=".2s">
                Enter your email address to reset your password.
              </p>
            </div>          
            <div class="pricing-features row">
              <label class="col-xs-4 text-right">Current Email</label>
              <input class="col-xs-6" ng-model="email"/>
              <div class="clearfix"></div>
              <div class="pr-button">
                <a ng-click="resetPassword(email)"class="btn btn-custom btn-rnd">Reset Password</a> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

